/*THE CSS RESET
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  overflow-x:hidden;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

*{
  font-family: 'Lato', sans-serif;
}


.navbar {
  width: 100%;
  height: 75px;
  /* background: #F1B8B8;   */
  padding:10px 20px;
  background-color: rgba(0, 0, 0, 0.181);
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* color: rgb(60, 36, 36); */
  
}

.navbar a {
  color:white;
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}



/* .project{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.projectItem{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.footer{
text-align: center;
width: 100vw;
padding:10px;
background-color:rgba(0, 0, 0, 0.313);
}

.App{
  /* min-height: 100vh; */
  /* display:flex;
  flex-direction: column; */
  /* min-height:100vh; */
  background-image: url(pics/pinksky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(pics/pinksky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */

}

.projectList{
 
  min-width: 400px;

}


.projectImages{
  object-fit: cover;
 
}

.linkedinicon{
  color: white;
  height: 20px;
  width: 20px;
}

.githubicon{
  color: white;
  height: 20px;
  width: 20px;
}

.envelopeicon{
  color: white;
  height: 20px;
  width: 20px;
}

.nameandlinks{
  display: flex;
}

.ashley{
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white;
font-size: 40px;
font-family: 'Lato', sans-serif;
}

.lge{
  display: flex;
  justify-content: center;
  gap:20px;
}

.designedbyah{
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.hw{
  font-size: 60px;
  max-width:750px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.iam{
  font-size: 40px;
  max-width: 600px;
  font-style: italic;
  color: white;
}

.quotediv{
  /* max-width: 400px;
  min-height:400px;
  box-shadow: 10px 10px 5px 0px rgba(123, 54, 122, 0.75);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
  padding: 10px; */
/* border: solid 2px white; */
/* background-color: rgba(255, 255, 255, 0.271); */
background-color: rgba(0, 0, 0, 0.415);
width: 400px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 50%;
margin-bottom: 50px;


}



.quote-paragraph{
  max-width: 200px;
  text-align: center;
  /* color: rgb(85, 84, 84); */
  font-size: 20px;
  /* color: rgb(203, 0, 156); */
  color: white;
 
}


.home{
  padding: 20px;
  flex-grow:2;
  color: black;
  flex-direction:row;
  /* background: #F1B8B8;   */
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  min-height:100vh;
  /* border:2px solid red; */
  max-width:100vw;
  
}

.princesspink{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}




.about{
  /* overflow-x: hidden;
  padding:10px;
  margin-top: 25px;
  max-width: 100vw; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.advicebutton{
  margin-top:15px;
}

.aboutparagraph{
  width: 700px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.271); */
  background-color: rgba(0, 0, 0, 0.415);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  /* color: rgb(132, 28, 80); */
  color: white;
  margin-bottom: 30px;
}

/* .everything{
 
  
  min-height: 100vh; 
  border: 100px solid transparent;
   border-image: url(pics/pinksky.jpg) 30 round;
   background-repeat: no-repeat;
  background-size: cover;
} */

.advice{
  color: white;
}

.advicebutton{
  width: 150px;
  color: white;
  background-color: hotpink;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.skills{
  background-color: rgba(0, 0, 0, 0.415);
width: 400px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 50%;
margin-bottom: 50px;

}

.quoteandskills{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.skillsheading{
  font-size: 40px;
  color: white;
}

.skillspan{
  font-size: 30px;
  color: white;
}