/*THE CSS RESET
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


.navbar {
  width: 100%;
  height: 100px;
  background: #e383dc;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(104, 37, 37);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}



a{
  color:hotpink;
}


.princesspink{
  width:200px;
  height: 200px;
}

/* .project{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.projectItem{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.footer{
position: absolute;
border: 1px solid red;
bottom: 0;
margin: 0 auto;
text-align: center;
width: 100vw;
}

.App{
  border: 1px solid black;
  min-height: 100vh;
  position: relative;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.projectList{
  border: 2px solid orange;
  min-width: 400px;

}


.projectImages{
  object-fit: cover;
  border: 2px solid green;
}